
{% extends "base.html" %}

{%block page_title%}
    <b>Home</b>
{%endblock%}

{%block content%}

<div style="margin-left:20px">
   <h5 style="color:rgb(27, 27, 97);">Please follow the below instructions to scrape a business card</h5>
   <h8 style="color:green;">1. Click on the link "Upload Business Card" to upload a business card image(JPEG/PNG).</h8>
   <br>
   <h8 style="color:green;">2. Naviagte to "Process Business Card" to process or delete the uploaded card.</h8>
   </br>
   <h8 style="color:green;">3. Click on Process Card button to extract text from the card.</h8>
   </br>
   <h8 style="color:green;">4. Processing the bsuiness card may take some time. Do not refresh the page!</h8>
   </br>
   <h8 style="color:green;">5. Verify the fields such as Name, Org, Phone Number and Email. </h8>
   </br>
   <h8 style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;These fields can be corrected manually if the system fails to classify them correctly.</h8>
   </br>
   <h8 style="color:green;">6. Click on "Save Contact" button to save the contact.</h8>
   </br>
   <h8 style="color:green;">7. Navigate to "View Contact" to view/search a contact.</h8>    
   </br>
   </br>
   </br>
   </br>
   <h8 style="color:red;">Please report any encountered error to <a href="mailto:ak3028@bath.ac.uk">Alok Kumar</a></h8>  
   
</div>

{% csrf_token %}
</form>

<div>
{%endblock%}


</html>