{% extends "base.html" %}

{%block page_title%}
    Upload Business Card
{%endblock%}
{%block content%}
<div class="container">
<form action="/uploadBusinessCard" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
 {{ form }}
 <input class="btn btn-primary" type="submit" value="Upload Card"/>

    {% csrf_token %}
</form>

<div id="divSuccess" style="margin:10px">
    {% for message in messages %}
   <label style="color:green"{% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </label>
    {% endfor %}
</div>

{%endblock%}



{%block script%}
<script type="text/javascript">
    $(document).ready(function(){
        $(".active").removeClass("active");
       $("#upload-tab").addClass("active");
 });
 </script>

{%endblock%}

</html>